<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>183118693766-dekrpr1ubeq4ugsq4ciogo5qofgg1jpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183118693766-dekrpr1ubeq4ugsq4ciogo5qofgg1jpe</string>
	<key>API_KEY</key>
	<string>AIzaSyAacvT80brHwQO7nYLpl1LgVycI-Aw7VH8</string>
	<key>GCM_SENDER_ID</key>
	<string>183118693766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gsort.pos.engsisubiq.ugetMobile</string>
	<key>PROJECT_ID</key>
	<string>uget-a7991</string>
	<key>STORAGE_BUCKET</key>
	<string>uget-a7991.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:183118693766:ios:ecb6b18e22678505</string>
	<key>DATABASE_URL</key>
	<string>https://uget-a7991.firebaseio.com</string>
</dict>
</plist>